{% assign content_content = article.content | strip_html | truncatewords: 30 %}

{% assign excerpt_or_content = article.excerpt | default: content_content %}

<article>
  <div class="margin-bottom--up-1">
    <a href="{{ article.url }}">
      {%
        include 'image',
        _object: article.image,
        _size: '1000x'
      %}
    </a>
  </div>

  <h3 class="
    large--font-size--up-2 large--line-height--up-8
    font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark
    margin-bottom--none
  ">
    <a href="{{ article.url }}">
      {{ article.title }}
    </a>
  </h3>

  {% if excerpt_or_content != blank %}
    <div class="margin-top--down-1">
      <div class="rte large--font-size--up-2 large--line-height--up-10">
        {{ excerpt_or_content | strip_html }}
      </div>
    </div>
  {% endif %}

  <div class="margin-top--up-1">
    <a
      class="font-weight-700 text-caps-letter-spacing text-underline text-color-green"
      href="{{ article.url }}">
      {{ 'blog.article.read_more' | t }}
    </a>
  </div>
</article>
