<div class="box-color-filters-background text-color-filters-text" data-module-collection-filters--{{ filters_logic }}>
  <div style="display: none;" data-ref-active-filters>
    <div class="margin-bottom--up-1">
      <h2 class="font-size--h6 line-height--h6 text-transform--h6 letter-spacing--h6 font-weight-700 margin-bottom--up-1">
        {{ 'collection.filters.active_filters_title' | t }}
      </h2>

      <div class="last-child-margin--none">
        {% for link in linklists['tag-filters-products'].links %}
          {% for link in link.links %}
            <div class="margin-bottom--down-3" style="display: none;" data-ref-filter='{
              "id": {{ link.handle | json | escape }},
              "tag": {{ link.title | json | escape }}
            }' data-ref-active-filter='{
              "id": {{ link.handle | json | escape }},
              "tag": {{ link.title | json | escape }}
            }'>
              <label class="block cursor-pointer">
                <span class="invisible">
                  <input class="checkbox" type="checkbox" data-ref-input='{ "filter_id": {{ link.handle | json | escape }} }' />
                </span>

                <span class="block border-text-input-border border-radius-default">
                  <span class="block padding--0">
                    <span class="flex-bar--down-1">
                      <span class="flex-item-shrink">
                        <span class="font-size--up-2">
                          {% include 'svg-close' %}
                        </span>
                      </span>

                      <span class="flex-item">
                        <span class="font-size--filters line-height--filters text-transform--filters letter-spacing--filters">
                          {{ link.title }}
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
              </label>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="last-child-margin--none">
    {% for link in linklists['tag-filters-products'].links %}
      <div class="margin-bottom--up-1">
        <h2 class="font-size--h6 line-height--h6 text-transform--h6 letter-spacing--h6 font-weight-700 margin-bottom--up-1">
          {{ link.title }}
        </h2>

        <div class="last-child-margin--none">
          {% for link in link.links %}
            <div class="margin-bottom--down-3" data-ref-filter='{
              "id": {{ link.handle | json | escape }},
              "tag": {{ link.title | json | escape }}
            }'>
              <label class="block cursor-pointer">
                <span class="flex-bar--up-1">
                  <span class="flex-item-shrink">
                    <span class="checkbox-wrap checkbox-wrap--filters font-size--up-10">
                      <input class="checkbox" type="checkbox" data-ref-input='{ "filter_id": {{ link.handle | json | escape }} }' />
                      <span class="checkbox-icon">
                        {% include 'svg-tick' %}
                      </span>
                    </span>
                  </span>

                  <span class="flex-item-shrink">
                    <span class="font-size--filters line-height--filters text-transform--filters letter-spacing--filters">
                      {{ link.title }}

                      <span data-ref-products-count='{
                        "filter_id": {{ link.handle | json | escape }},
                        "tag": {{ link.title | json | escape }}
                      }'></span>
                    </span>
                  </span>
                </span>
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
