{% assign cancelled_at = order.cancelled_at | date: '%B %d, %Y %I:%M%p' %}

{% if order.cancelled %}
  <div class="margin-bottom--up-2 large--margin-bottom--up-4">
    <div class="rte large--font-size--up-2 large--line-height--up-10">
      <p>
        {{ 'customer.order.cancelled' | t: date: cancelled_at }}
      </p>

      <p>
        {{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}
      </p>
    </div>
  </div>
{% endif %}

<div class="responsive-table">
  <table>
    <thead>
      <tr>
        <th>
          {{ 'customer.order.product' | t }}
        </th>

        <th>
          {{ 'customer.order.sku' | t }}
        </th>

        <th>
          {{ 'customer.order.price' | t }}
        </th>

        <th>
          {{ 'customer.order.quantity' | t }}
        </th>

        <th>
          <div class="text-right">
            {{ 'customer.order.total' | t }}
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for line_item in order.line_items %}
      {% assign sca_product = line_item %}{% assign sca_product_id_text = "," | append : sca_product.id | append : "," %}{% assign sca_price = sca_product.price %}{% assign sca_price_min = sca_product.price_min %}{% assign sca_price_max = sca_product.price_max %}{% assign sca_compare_at_price = sca_product.compare_at_price %}{% assign sca_compare_at_price_min = sca_product.compare_at_price_min %}{% assign sca_compare_at_price_max = sca_product.compare_at_price_max %}{% assign sca_product_available = sca_product.available %}{% assign sca_product_variantCount = sca_product.variants.size %}{% assign sca_compare_at_price_varies = sca_product.compare_at_price_varies %}{% assign sca_price_varies = sca_product.price_varies %}{% assign sca_has_only_default_variant = false %}{% capture sca_product_variants_json %}{{sca_product.variants | json }}{% endcapture %} {% capture sca_product_json %}{ {% if sca_all_gift_products_ids == null or sca_all_gift_products_ids contains sca_product_id_text %}{% assign sca_product_available = false %}{% assign sca_product_variantCount = 0 %}{% assign sca_has_only_default_variant = true %}{% assign sca_is_first_variant = true %}{% capture sca_variants_json %} [{% for variant in sca_product.variants %}{% unless variant.metafields.secomapp.freegifts %}{% unless variant.title contains '(Freegifts)' %}{% unless variant.title contains '% Off' %}{% unless variant.metafields.shappify_qb.qb_hide == "1" %}{% unless variant.metafields.shappify_bundle.is_bundle == "true" %}{% unless variant.metafields.brodev_scn.hide == "true" %}{% unless variant.metafields.wholesaler2.wholesale %}{% unless variant.metafields.Wholesaler.level %}{% unless variant.title contains '(Wholesale' %}{% if sca_is_first_variant%} {{ variant | json }}{% assign sca_price = variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price_max = variant.price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% assign sca_product_available = variant.available %} {% assign sca_product_variantCount = 1 %} {% assign sca_is_first_variant = false%}{% else %},{{variant | json }} {% if sca_price_min >= variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price = variant.price %}{% endif %} {% if sca_price_max <= variant.price %} {% assign sca_price_max = variant.price %} {% endif %} {% if variant.compare_at_price %} {% if sca_compare_at_price_min==null or sca_compare_at_price_min >= variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% endif %} {% if sca_compare_at_price_max==null or sca_compare_at_price_max < variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% endif %} {% endif %} {% if variant.available == true %} {% assign sca_product_available = true %} {% endif %} {% assign sca_product_variantCount = sca_product_variantCount | plus: 1 %}{% endif %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{%endfor%} ]{% endcapture %}{% if sca_price_min < sca_price_max %}{% assign sca_price_varies = true %}{% else %}{% assign sca_price_varies = false %}{% endif %}{% if sca_compare_at_price_min < sca_compare_at_price_max %}{% assign sca_compare_at_price_varies = true %}{% else %}{% assign sca_compare_at_price_varies = false %}{% endif %}{% if sca_product_variantCount > 1 %}{% assign sca_has_only_default_variant = false %}{% endif %}{% if sca_product_variantCount == sca_product.variants.size %} "variants":{{ sca_product.variants }},{% else %}{%assign sca_product_variants_json = sca_variants_json %} "variants":{{ sca_variants_json }},{% endif %}{% else %} "variants":{{ sca_product_variants_json }},{% endif %} "id": {{sca_product.id}}, "title": {{sca_product.title | json}}, "handle": {{sca_product.handle | json}}, "description": {{sca_product.description | json}}, "published_at": "{{sca_product.published_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "created_at": "{{sca_product.created_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "vendor": {{sca_product.vendor | json}}, "type": {{sca_product.type | json}}, "tags": {{sca_product.tags | json}}, "price": {{sca_price}}, "price_min": {{sca_price_min}}, "price_max": {{sca_price_max}}, "available": {{sca_product.available}}, "price_varies": {{sca_price_varies}}, "compare_at_price": {{sca_compare_at_price}}, "compare_at_price_min": {{sca_compare_at_price_min}}, "compare_at_price_max": {{sca_compare_at_price_max}}, "compare_at_price_varies": {{sca_compare_at_price_varies}}, "images": {{sca_product.images | json}}, "featured_image": {{sca_product.featured_image | json }}, "options": {{sca_product.options | json}}, "media": {{sca_product.media | json }}, "content": {{sca_product.content | json }}} {% endcapture sca_product_json %}

        <tr>
          <td>
            <div class="
              font-size--0 line-height--up-6
              text-caps-letter-spacing font-weight-500 text-color-grey-dark
            ">
              <a href="{{ line_item.product.url }}">
                {{ line_item.product.title }}
              </a>
            </div>

            {% unless line_item.product.has_only_default_variant %}
              <div class="margin-top--down-4">
                {% for option_name in line_item.product.options %}
                  {% assign option_value = line_item.variant.options[forloop.index0] %}

                  <div class="font-size--none">
                    <div class="grid--down-3">
                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          {{ option_name }}:
                        </div>
                      </div>

                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          {{ option_value }}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}

            {% if line_item_properties %}
              <div class="margin-top--down-4">
                {% for property_name in line_item_properties_names %}
                  {% assign property_value = line_item_properties_values[forloop.index0] %}

                  <div class="font-size--none">
                    <div class="grid--down-3">
                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          {{ property_name }}:
                        </div>
                      </div>

                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          {% if property_value contains '/uploads/' %}
                            <a href="{{ property_value }}">
                              {{ property_value | split: '/' | last }}
                            </a>
                          {% else %}
                            {{ property_value }}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if line_item.fulfillment %}
              <div class="margin-top--down-4">
                <div class="font-size--none">
                  <div class="grid--down-3">
                    <div class="grid-item">
                      <div class="font-size--down-2 line-height--up-4">
                        {{ 'customer.order.fulfilled_at' | t }}
                      </div>
                    </div>

                    <div class="grid-item">
                      <div class="font-size--down-2 line-height--up-4">
                        {{ line_item.fulfillment.created_at | date: '%d.%m.%Y' }}
                      </div>
                    </div>
                  </div>
                </div>

                {% if line_item.fulfillment.tracking_url %}
                  <div class="font-size--none">
                    <div class="grid--down-3">
                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          {{ 'customer.order.tracking_url' | t }}
                        </div>
                      </div>

                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          <a href="{{ line_item.fulfillment.tracking_url }}">
                            {{ 'customer.order.track_shipment' | t }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}

                <div class="font-size--none">
                  <div class="grid--down-3">
                    <div class="grid-item">
                      <div class="font-size--down-2 line-height--up-4">
                        {{ 'customer.order.tracking_company' | t }}
                      </div>
                    </div>

                    <div class="grid-item">
                      <div class="font-size--down-2 line-height--up-4">
                        {{ line_item.fulfillment.tracking_company }}
                      </div>
                    </div>
                  </div>
                </div>

                {% if line_item.fulfillment.tracking_number %}
                  <div class="font-size--none">
                    <div class="grid--down-3">
                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          {{ 'customer.order.tracking_number' | t }}
                        </div>
                      </div>

                      <div class="grid-item">
                        <div class="font-size--down-2 line-height--up-4">
                          {{ line_item.fulfillment.tracking_number }}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </td>

          <td>
            {{ line_item.sku }}
          </td>

          <td>
            {{ sca_price | money }}
          </td>

          <td>
            {{ line_item.quantity }}
          </td>

          <td>
            <div class="text-right">
              {{ line_item.quantity | times: sca_price | money }}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">
          {{ 'customer.order.subtotal' | t }}
        </td>

        <td>
          <div class="text-right">
            {{ order.line_items_subtotal_price | money }}
          </div>
        </td>
      </tr>

      {% for discount in order.discounts %}
        <tr>
          <td colspan="4">
            {{ discount.code }} {{ 'customer.order.discount' | t }}
          </td>

          <td>
            <div class="text-right">
              {{ discount.savings | money }}
            </div>
          </td>
        </tr>
      {% endfor %}

      {% for shipping_method in order.shipping_methods %}
        <tr>
          <td colspan="4">
            {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
          </td>

          <td>
            <div class="text-right">
              {{ shipping_method.price | money }}
            </div>
          </td>
        </tr>
      {% endfor %}

      {% for tax_line in order.tax_lines %}
        <tr>
          <td colspan="4">
            {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
          </td>

          <td>
            <div class="text-right">
              {{ tax_line.price | money }}
            </div>
          </td>
        </tr>
      {% endfor %}

      <tr>
        <td colspan="4">
          {{ 'customer.order.total' | t }}
        </td>

        <td>
          <div class="text-right">
            {{ order.total_price | money }}
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
