{% form 'reset_customer_password' %}
  <div class="rte rte--form-errors">
    {{ form.errors | default_errors }}
  </div>

  <div class="margin-bottom--up-1">
    <label  class="block margin-bottom--down-4" for="reset-password">
      {{ 'customer.reset_password.password' | t }}
    </label>

    <input
      class="input border--none border-radius--none large--padding-top-bottom--down-1"
      type="password"
      name="customer[password]"
      id="reset-password"
      placeholder="{{ 'customer.reset_password.password_placeholder' | t }}"
      required />
  </div>

  <div class="margin-bottom--up-2">
    <label  class="block margin-bottom--down-4" for="password-confirmation">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>

    <input
      class="input border--none border-radius--none large--padding-top-bottom--down-1"
      type="password"
      name="customer[password_confirmation]"
      id="password-confirmation"
      placeholder="{{ 'customer.reset_password.password_confirm_placeholder' | t }}"
      required />
  </div>

  <button class="button-primary one padding-top-bottom--down-1" type="submit">
    {{ 'customer.reset_password.submit' | t }}
  </button>
{% endform %}
