{% form 'recover_customer_password' %}
  <div class="rte rte--form-errors">
    {{ form.errors | default_errors }}
  </div>

  {% if form.posted_successfully? %}
    <div>
      {{ recover_password_success }}
    </div>
  {% else %}
    <div class="margin-bottom--up-2">
      <label class="block margin-bottom--down-4" for="recover-email">
        {{ 'customer.recover_password.email' | t }}
      </label>

      <input
        class="input border--none border-radius--none large--padding-top-bottom--down-1"
        type="email"
        name="email"
        id="recover-email"
        placeholder="{{ 'customer.recover_password.email_placeholder' | t }}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
        required />
    </div>

    <button class="button-primary one padding-top-bottom--down-1" type="submit" class="button">
      {{ 'customer.recover_password.submit' | t }}
    </button>

    <div class="margin-top--up-2">
      <a href="#login">
        <div class="font-size--down-2 line-height--up-4 font-weight-500 text-underline text-color-green">
          {{ 'customer.recover_password.cancel' | t }}
        </div>
      </a>
    </div>
  {% endif %}
{% endform %}
