{% assign id = _id %}
{% assign image = _image %}
{% assign image_url = _image_url %}
{% assign image_mobile = _image_mobile %}
{% assign image_mobile_url = _image_mobile_url %}
{% assign image_overlay = _image_overlay %}
{% assign text_color = _text_color %}
{% assign height = _height %}
{% assign height_mobile = _height_mobile %}
{% assign alignment = _alignment %}
{% assign title = _title %}
{% assign body = _body %}
{% assign url = _url %}
{% assign call_to_action = _call_to_action %}

{% include 'object-breakpoints' %}

{% include 'attribute-image-box-ratio' %}

{% unless image.aspect_ratio %}
  {% assign image_url = image_url %}

  {% include 'attribute-image-url-box-ratio' %}

  {% assign image_box_ratio = image_url_box_ratio %}
{% endunless %}

{% assign current_image = image %}
{% assign current_image_url = image_url %}
{% assign current_image_box_ratio = image_box_ratio %}

{% assign image = image_mobile %}

{% include 'attribute-image-box-ratio' %}

{% assign image_mobile_box_ratio = image_box_ratio %}

{% unless image.aspect_ratio %}
  {% assign image_url = image_mobile_url %}

  {% include 'attribute-image-url-box-ratio' %}

  {% assign image_mobile_box_ratio = image_url_box_ratio %}

  {% assign image_url = current_image_url %}
  {% assign image_box_ratio = current_image_box_ratio %}
{% endunless %}

{% assign image = current_image %}
{% assign image_box_ratio = current_image_box_ratio %}

{% assign height_box_ratio = false %}

{% assign height_full = false %}

{% assign height_mobile_box_ratio = false %}

{% assign height_mobile_full = false %}

{% assign height = height | default: 'image' %}

{% assign height_mobile = height_mobile | default: 'image' %}

{% if height contains '%' %}
  {% assign height_box_ratio = height %}
{% endif %}

{% if height == 'image' %}
  {% assign height_box_ratio = image_box_ratio %}
{% endif %}

{% if height == 'full' %}
  {% assign height_full = true %}
{% endif %}

{% if height_mobile contains '%' %}
  {% assign height_mobile_box_ratio = height_mobile %}
{% endif %}

{% if height_mobile == 'image' %}
  {% assign height_mobile_box_ratio = image_mobile_box_ratio %}
{% endif %}

{% if height_mobile == 'full' %}
  {% assign height_mobile_full = true %}
{% endif %}

{% assign title = title | replace: '{{ page_title }}', page_title %}

<style>
  @media (min-width: {{ breakpoints_large }}px){
    .hero-{{ id }} .hero-height {
      {% if height %}
        {% if height_box_ratio %}
          padding-bottom: {{ height_box_ratio }};
        {% else %}
          height: {{ height }};
        {% endif %}
      {% endif %}
    }
  }

  @media (max-width: {{ breakpoints_medium_down }}px){
    .hero-{{ id }} .hero-height {
      {% if height_mobile %}
        {% if height_mobile_box_ratio %}
          padding-bottom: {{ height_mobile_box_ratio }};
        {% else %}
          height: {{ height_mobile }};
        {% endif %}
      {% endif %}
    }
  }
</style>

<div class="hero-{{ id }}">
  <div class="position-relative">
    <div class="hero-height position-relative {% if height_box_ratio %}large--box-ratio-inline!{% endif %} {% if  height_mobile_box_ratio %}medium-down--box-ratio-inline!{% endif %} {% if height_full %}large--height-full-vh!{% endif %} {% if height_mobile_full %}medium-down--height-full-vh!{% endif %}">
      {% if image %}
        <div class="position-absolute position-full object-full">
          <div class="position-absolute position-full background-full" data-src="{{ image_mobile_url }}" data-src-large="{{ image_url }}" {% if image_lazy %}data-lazy{% endif %}></div>

          {% if image_overlay %}
            <div class="position-absolute position-full" style="background: #000; opacity: {{ image_overlay }};"></div>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="one position-absolute position-center-vertical">
      <div class="padding-top-bottom--up-2">
        <div class="container-default">
          <div class="grid text-center large--text-{{ alignment }}">
            <div class="grid-item" style="max-width: 500px;">
              <div class="text-center">
                <div>
                  <div class="last-child-margin--none">
                    {% if title %}
                      <div class="margin-bottom--up-1 large--margin-bottom--up-3">
                        <h2 class="text-color-inherit margin-bottom--none">
                          {{ title }}
                        </h2>
                      </div>
                    {% endif %}

                    {% if body %}
                      <div class="margin-bottom--up-1 large--margin-bottom--up-3">
                        <div class="rte font-size--down-2 line-height--up-4">
                          {{ body }}
                        </div>
                      </div>
                    {% endif %}

                    {% if url and call_to_action %}
                      <div class="margin-bottom--up-1 large--margin-bottom--up-3">
                        <a class="button-primary" href="{{ url }}">
                          {{ call_to_action }}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
