{% assign object = _object %}
{% assign size = _size %}
{% assign crop = _crop %}
{% assign box_ratio = _box_ratio %}
{% assign object_medium = _object_medium %}
{% assign size_medium = _size_medium %}
{% assign crop_medium = _crop_medium %}
{% assign box_ratio_medium = _box_ratio_medium %}
{% assign object_large = _object_large %}
{% assign size_large = _size_large %}
{% assign crop_large = _crop_large %}
{% assign box_ratio_large = _box_ratio_large %}
{% assign lazy = _lazy %}
{% assign image_url = _image_url %}
{% assign image_url_medium = _image_url_medium %}
{% assign image_url_large = _image_url_large %}
{% assign image_alt = _image_alt %}
{% assign class = _class %}

{% if object %}
  {% include 'attribute-image-box-ratio', image: object %}

  {% assign box_ratio = box_ratio %}

  {% if box_ratio == nil %}
    {% assign box_ratio = image_box_ratio %}
  {% endif %}

  {% assign image_url = object | img_url: size, crop: crop %}

  {% assign image_alt = object.alt | escape %}

  {% if object_medium %}
    {% assign image_url_medium = object_medium | img_url: size_medium, crop: crop_medium %}

    {% include 'attribute-image-box-ratio', image: object_medium %}

    {% assign box_ratio_medium = box_ratio_medium %}

    {% if box_ratio_medium == nil %}
      {% assign box_ratio_medium = image_box_ratio %}
    {% endif %}
  {% endif %}

  {% if object_large %}
    {% assign image_url_large = object_large | img_url: size_large, crop: crop_large %}

    {% include 'attribute-image-box-ratio', image: object_large %}

    {% assign box_ratio_large = box_ratio_large %}

    {% if box_ratio_large == nil %}
      {% assign box_ratio_large = image_box_ratio %}
    {% endif %}
  {% endif %}
{% else %}
  {% assign fallback_image_image_url = settings.misc_images_fallback_image | img_url: '1000x' %}

  {% assign image_url = image_url | default: fallback_image_image_url %}

  {% assign image_alt = image_alt | escape %}
{% endif %}

{% unless object or image_url %}
  {% assign object = settings.misc_images_fallback_image %}

  {% include 'attribute-image-box-ratio', image: object %}

  {% assign box_ratio = image_box_ratio %}

  {% assign image_url = object | img_url: size, crop: crop %}

  {% assign image_alt = object.alt | escape %}
{% endunless %}

<div
  class="
    image-container
    {% if box_ratio or box_ratio_medium or box_ratio_large %}
      box-ratio-inline
    {% endif %}
  "
  style="
    {% if box_ratio %}
      padding-bottom: {{ box_ratio }};
    {% endif %}

    {% if box_ratio_medium %}
      --medium--padding-bottom: {{ box_ratio_medium }};
    {% endif %}

    {% if box_ratio_large %}
      --large--padding-bottom: {{ box_ratio_large }};
    {% endif %}
  ">
  <img
    class="{{ class }}"

    data-src="{{ image_url }}"

    {% if image_url_medium %}
      data-src-medium="{{ image_url_medium }}"
    {% endif %}

    {% if image_url_large %}
      data-src-large="{{ image_url_large }}"
    {% endif %}

    {% if lazy %}
      data-lazy
    {% endif %}

    alt="{{ image_alt }}" />
</div>
