{% capture tags %}
  {% if current_tags %} | tagged "{{ current_tags | join: ', ' }}"{% endif %}
{% endcapture %}

{% capture pagination %}
  {% if current_page != 1 %} | Page {{ current_page }}{% endif %}
{% endcapture %}

{% capture shop_name %}
  {% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}
{% endcapture %}

<title>
  {{ page_title }} {{ tags | strip }} {{ pagination | strip }} {{ shop_name | strip }}
</title>
