<div class="medium--hide">
  <div class="header-off-canvas-mobile-menu position-fixed position-top position-right position-bottom position-left position-6">
    <div class="height-full box-color-light border-top-grey-lightest scroll-vertical">
      <div class="height-full flex-vertical">
        <div data-module-slide-panels>
          <div class="swiper-container swiper-no-swiping" data-ref-container>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <ul class="margin-bottom--none">
                  {% for link in menu.links %}
                    {% capture link_links_html %}
                      <ul class="margin-bottom--none" data-module-accordion>
                        <li>
                          <button class="input-reset block one" type="button" data-module-slide-panels-back>
                            <div class="container-padding padding-top-bottom--down-1 font-size--down-2 line-height--up-7 font-weight-500 text-caps-letter-spacing text-color-grey-dark hover-box-color-green hover-text-color-light">
                              <div class="flex-bar--down-1">
                                <div class="flex-item-auto">
                                  <div class="font-size--down-6">
                                    {% include 'svg-arrow-left' %}
                                  </div>
                                </div>

                                <div class="flex-item">
                                  {{ 'mobile_menu.shop_all' | t }}
                                </div>
                              </div>
                            </div>
                          </button>
                        </li>

                        <li>
                          <a href="{{ link.url }}">
                            <div class="container-padding padding-top-bottom--down-1 font-size--down-2 line-height--up-7 font-weight-500 text-caps-letter-spacing box-color-slate text-color-light">
                              <div class="flex-bar--down-1">
                                <div class="flex-item">
                                  {{ link.title }}
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>

                        {% for link_link in link.links %}
                          <li>
                            <a class="block container-padding padding-top-bottom--down-1 border-bottom-grey-lightest font-size--down-2 line-height--up-7 font-weight-500 text-caps-letter-spacing text-color-grey-dark hover-box-color-green hover-text-color-light" href="{{ link_link.url }}" {% if link_link.links != empty %}data-ref-button='{ "index": {{ forloop.index | json }} }'{% endif %}>
                              <div class="flex-bar--down-1">
                                <div class="flex-item">
                                  {{ link_link.title }}
                                </div>

                                {% if link_link.links != empty %}
                                  <div class="flex-item-auto">
                                    <div class="font-size--down-6">
                                      <div data-ref-icon-show='{ "index": {{ forloop.index | json }} }'>
                                        {% include 'svg-arrow-bottom' %}
                                      </div>

                                      <div style="display: none;" data-ref-icon-hide='{ "index": {{ forloop.index | json }} }'>
                                        {% include 'svg-arrow-top' %}
                                      </div>
                                    </div>
                                  </div>
                                {% endif  %}
                              </div>
                            </a>

                            {% if link_link.links != empty %}
                              <div data-ref-panel='{ "index": {{ forloop.index | json }} }' style="display: none;">
                                <div style="margin-top: -1px;">
                                  <div class="box-color-beige">
                                    <div class="container-padding padding-top-bottom--down-1">
                                      <ul class="margin-bottom--none">
                                        {% for link_link_link in link_link.links %}
                                          <li>
                                            <a class="block padding-top-bottom--down-1 text-color-grey-dark" href="{{ link_link_link.url }}">
                                              {{ link_link_link.title }}
                                            </a>
                                          </li>
                                        {% endfor %}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endcapture %}

                    <li {% if link.links != empty %}data-module-slide-panels-link='{ "html": {{ link_links_html | json | escape }} }'{% endif %}>
                      <a class="block container-padding padding-top-bottom--down-1 border-bottom-grey-lightest font-size--down-2 line-height--up-7 font-weight-500 text-caps-letter-spacing text-color-grey-dark hover-box-color-green hover-text-color-light" href="{{ link.url }}">
                        <div class="flex-bar--down-1">
                          <div class="flex-item">
                            {{ link.title }}
                          </div>

                          {% if link.links != empty %}
                            <div class="flex-item-auto">
                              <div class="font-size--down-6">
                                {% include 'svg-arrow-right' %}
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="padding-top-bottom--up-1">
          <div class="container-padding">
            {% include 'header-menu-secondary' %}
          </div>
        </div>

        {% if menu_tertiary %}
          <div class="margin-top--auto">
            {% include 'header-menu-tertiary' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
