{% assign part_url = _part_url %}
{% assign part_title = _part_title %}
{% assign part_class_name = _part_class_name %}
{% assign part_attributes = _part_attributes %}

{% assign part_url = part_url | default: '{{ part_url }}' %}

{% assign part_title = part_title | default: '{{ part_title }}' %}

{% assign part_class_name = part_class_name | default: '{{ part_class_name }}' %}

{% assign part_attributes = part_attributes | default: '{{ part_attributes }}' %}

<li class="grid-item padding-bottom--down-3">
  <a class="block {{ part_class_name }}" href="{{ part_url }}" data-ref-part-link {{ part_attributes }}>
    <div class="padding-top-bottom--0 padding-left-right--up-1">
      <div class="
        font-size--down-2 line-height--down-4
        font-weight-500 text-caps-letter-spacing
      ">
        {{ part_title }}
      </div>
    </div>
  </a>
</li>
