{% form 'customer' %}
  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <div class="rte">
      {{ newsletter_success }}
    </div>
  {% else %}
    <input type="hidden" name="contact[tags]" value="newsletter" />

    <div class="margin-bottom--down-1">
      <label class="invisible" for="Email">
        {{ 'password.newsletter_label' | t }}
      </label>

      <input
        class="input"
        type="email"
        name="contact[email]"
        id="Email"
        value="{{ customer.email }}"
        placeholder="{{ 'password.newsletter_placeholder' | t }}"
        autocorrect="off"
        autocapitalize="off" />
    </div>

    <button class="button-primary block one" type="submit" name="commit">
      {{ newsletter_call_to_action }}
    </button>
  {% endif %}
{% endform %}
