{% assign amp = _amp %}
{% assign url = _url %}
{% assign image = _image %}
{% assign image_url = _image_url %}
{% assign image_alt = _image_alt %}
{% assign image_attributes = _image_attributes %}
{% assign title = _title %}
{% assign price = _price %}

{% assign url = url | default: '{{ url }}' %}

{% assign image_url = image_url | default: '{{ image_url }}' %}

{% assign image_alt = image_alt | default: '{{ image_alt }}' %}

{% assign image_attributes = image_attributes | default: '{{ image_attributes }}' %}

{% assign title = title | default: '{{ title }}' %}

{% assign price = price | default: '{{ price }}' %}

<article class="product-thumbnail">
  <div class="margin-bottom--down-2">
    <a href="{{ url }}">
      {% unless amp %}
        <div class="image-container box-ratio--1-1">
          <img data-src="{{ image_url }}" alt="{{ image_alt }}" {{ image_attributes }} />
        </div>
      {% else %}
        <amp-img
          src="{{ image_url }}"
          alt="{{ shop.name | escape }}"
          width="500"
          height="500"
          layout="intrinsic"></amp-img>
      {% endunless %}
    </a>
  </div>

  <div class="margin-bottom--down-4">
    <h2 class="font-size--product-cards line-height--product-cards text-transform--product-cards letter-spacing--product-cards margin--none">
      <a href="{{ url }}">
        {{ title }}
      </a>
    </h2>
  </div>

  <div class="font-size--product-cards line-height--product-cards text-transform--product-cards letter-spacing--product-cards">
    <a href="{{ url }}">
      {{ price }}
    </a>
  </div>
</article>
