<div class="last-child-margin--none">
  {% for option in product.options_with_values %}
    <div class="margin-bottom--0">
      <h4 class="
        font-size--down-2 line-height--up-4
        xlarge--font-size--inherit xlarge--line-height--inherit
        font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark
        margin-bottom--down-3
      ">
        {{ option.name }}:
      </h4>

      <div class="overflow-hidden">
        <div class="grid-bar--down-2 margin-bottom-negative--down-2">
          {% for value in option.values %}
            <div class="grid-item padding-bottom--down-2">
              <label
                class="product-option-radio-label cursor-pointer"
                for="{{ product.id | append: option.position | append: forloop.index0 }}">
                <input
                  class="visually-hidden"
                  type="radio"
                  name="{{ product.id | append: option.position }}"
                  id="{{ product.id | append: option.position | append: forloop.index0 }}"
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}checked{% endif %}
                  data-ref-input='{
                    "id": {{ product.id | append: option.position | append: forloop.index0 | json | escape }},
                    "position": {{ option.position | json | escape }},
                    "value": {{ value | json | escape }}
                  }' />

                <div class="
                  product-option-radio
                  button-primary box-color-base-background border-grey-lighter
                  padding-left-right--0 xlarge--padding-left-right--up-1
                  font-size--inherit
                  xlarge--font-size--up-2 xlarge--line-height--up-10
                  font-weight-400 letter-spacing--inherit text-regular-case!
                  text-color-base-text
                ">
                  {{ value }}
                </div>
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
