<div data-module-image-gallery-slider='{ "product_id": {{ product.id | json | escape }} }'>
  <div class="position-relative">
    <div class="swiper-container" data-ref-slider>
      <div class="swiper-wrapper">
        {% for image in product.images %}
          {% include "attribute-image-box-ratio" %}

          {% assign image_url = image | img_url: '2000x' %}
          {% assign image_url_thumbnail = image | img_url: '1000x' %}

          {% assign image_variant_ids = image.variants | map: 'id' %}

          {% assign image_lazy_attr = '' %}

          {% unless forloop.first %}
            {% assign image_lazy_attr = 'data-lazy' %}
          {% endunless %}

          <div class="swiper-slide" data-ref-slide='{
            "index": {{ forloop.index0 | json | escape }},
            "variant_ids": {{ image_variant_ids | json | escape }}
          }'>
            <a href="{{ image_url }}" title="{{ image.alt | escape }}">
              <div class="image-container box-color-product-image-background box-ratio-inline" style="padding-bottom: {{ image_box_ratio }};">
                <img data-src="{{ image_url_thumbnail }}" alt="{{ image.alt | escape }}" {{ image_lazy_attr }} />
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="position-absolute position-center-vertical position-left position-1">
      <button class="slider-button input-reset block" type="button" data-ref-previous>
        <div class="font-size--up-16">
          {% include "svg-arrow-left" %}
        </div>
      </button>
    </div>

    <div class="position-absolute position-center-vertical position-right position-1">
      <button class="slider-button input-reset block" type="button" data-ref-next>
        <div class="font-size--up-16">
          {% include "svg-arrow-right" %}
        </div>
      </button>
    </div>
  </div>
</div>
