<button
  class="
    button-primary
    one xlarge--auto
    padding-top-bottom--down-1 padding-left-right--up-5
    font-size--inherit line-height--up-7
    xlarge--line-height--up-9
  "
  {% unless current_variant.available %}
    id="BIS_trigger"
  {% endunless %}
  type="submit"
  data-module-product-submit='{
    "product_id": {{ product.id | json | escape }},
    "available": {{ "products.product.add_to_cart" | t | json | escape }},
    "sold_out": {{ "products.product.sold_out" | t | json | escape }},
    "unavailable": {{ "products.product.unavailable" | t | json | escape }},
    "added": {{ "products.product.added" | t | json | escape }}
  }'>
  {% if current_variant.available %}
    {{ 'products.product.add_to_cart' | t }}
  {% else %}
    {{ 'products.product.sold_out' | t }}
  {% endif %}
</button>

{% if dynamic_checkout_buttons_enable %}
  {{ form | payment_button }}
{% endif %}
