{% assign class = 'font-size--product-price line-height--product-price text-transform--product-price letter-spacing--product-price text-color-product-price' %}

{% assign class_sale = class | append: ' text-color-product-price-sale' %}

<div class="{% if current_variant.compare_at_price > current_variant.price %}{{ class_sale }}{% else %}{{ class }}{% endif %}" [text]="product.variants[product.current_variant].price_text" [class]="product.variants[product.current_variant].compare_at_price > product.variants[product.current_variant].price ? '{{ class_sale }}' : '{{ class }}'">
  {{ current_variant.price | money }}
</div>

<s class="font-size--product-price line-height--product-price text-transform--product-price letter-spacing--product-price text-color-product-compare-at-price" [text]="product.variants[product.current_variant].compare_at_price_text" {% unless current_variant.compare_at_price > current_variant.price %}hidden{% endunless %} [hidden]="product.variants[product.current_variant].compare_at_price < product.variants[product.current_variant].price">
  {% if current_variant.compare_at_price > current_variant.price %}
    {{ current_variant.compare_at_price | money }}
  {% endif %}
</s>
