{% assign current_variant = product.variants[0] %}

<article class="height-full flex-vertical">
  <div class="margin-bottom--up-1">
    <a href="{{ product.url }}">
      {%
        include 'image',
        _object: product.images[0],
        _size: '600x'
      %}
    </a>
  </div>

  <h3 class="font-size--down-2 line-height--up-4 large--font-size--inherit large--line-height--inherit font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark margin-bottom--down-3">
    <a href="{{ product.url }}">
      {{ product.title }}
    </a>
  </h3>

  <div class="margin-top--auto">
    <div>
      <span class="{% if product.compare_at_price_min > product.price_min %}text-color-red{% endif %}">
        {% if product.price_varies %}
          {{ 'products.product.from' | t }}
        {% endif %}

        {{ product.price_min | money }}
      </span>

      {% if product.compare_at_price_min > product.price_min %}
        <s class="text-color-grey-light">
          {{ product.compare_at_price_min | money }}
        </s>
      {% endif %}
    </div>

    <div class="margin-top--0">
      <div data-module-product-form='{
        "product": {{ product | json | escape }},
        "variant_id": {{ current_variant.id | json | escape }},
        "quantity": 1
      }'>
        {% form 'product', product %}
          {% include 'product-form-id' %}
          {% include 'product-form-submit' %}
        {% endform %}
      </div>
    </div>
  </div>
</article>
