{% assign id = _id %}
{% assign input_class = _input_class %}
{% assign submit_class = _submit_class %}

<form action="{{ routes.search_url }}" method="get" role="search" autocomplete="off">
  <input type="hidden" name="type" value="product" />

  <div class="position-relative">
    <label class="visually-hidden" for="{{ id }}">
      {{ 'search.form.placeholder' | t }}
    </label>

    <input
      class="search-form-input input {{ input_class }}"
      type="search"
      name="q"
      id="{{ id }}"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'search.form.placeholder' | t | escape }}"
      required
      data-module-search-form-input='{ "id": {{ id | json }} }' />

    <div class="position-absolute position-top position-bottom position-right">
      <button class="input-reset height-full padding-left-right--down-3 {{ submit_class }}" type="submit">
        <span class="font-size--up-2 large--font-size--up-6">
          {% include 'svg-search' %}
        </span>
      </button>
    </div>

    {% if search_form_menu_enable %}
      {% include 'search-form-menu' %}
    {% endif %}

    {% if search_form_predictive_results_enable %}
      {% include 'search-form-predictive-results' %}
    {% endif %}
  </div>
</form>
