{% capture empty_template %}
  <div class="border-bottom-grey-lighter">
    <div class="padding-top-bottom--0 medium--padding--0">
      <h3 class="font-size--down-2 line-height--up-4 font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark margin-bottom--none">
        No products found for “{% raw %}{{ query }}{% endraw %}”.
      </h3>

      <div class="font-size--down-2 line-height--up-4">
        Sorry, we couldn’t find any matches.
      </div>
    </div>
  </div>

  <div class="padding-top-bottom--0 medium--padding--0">
    <a class="button-primary one" href="{{ routes.all_products_collection_url }}">
      View all products
    </a>
  </div>
{% endcapture %}

{% capture results_template %}
  <ul class="margin--none last-child-margin--none">
    {% raw %}{{ results }}{% endraw %}
  </ul>

  <div class="padding-top-bottom--0 medium--padding--0">
    <a
      class="button-primary one"
      href="{{ routes.search_url }}?q={% raw %}{{ query }}{% endraw %}&type=product">
      View all {% raw %}{{ result_count }}{% endraw %} results
    </a>
  </div>
{% endcapture %}

{% capture result_template %}
  <li>
    <a href="{% raw %}{{ url }}{% endraw %}">
      <div class="border-bottom-grey-lighter">
        <div class="padding-top-bottom--0 medium--padding--0">
          <div class="flex-bar--0">
            <div class="flex-item-shrink">
              <div style="width: 55px;">
                <div class="image-container box-ratio--1-1 position-relative">
                  <img
                    class="position-absolute position-top position-left one height-full object-full"
                    data-src="{% raw %}{{ image_url }}{% endraw %}"
                    alt="{% raw %}{{ image_alt }}{% endraw %}" />
                </div>
              </div>
            </div>

            <div class="flex-item">
              <h3 class="font-size--down-2 line-height--up-4 font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark margin-bottom--none">
                {% raw %}{{ title }}{% endraw %}
              </h3>

              <span class="font-size--down-2 line-height--up-4 text-color-red">
                {% raw %}{{ from }}{% endraw %}
                {% raw %}{{ price }}{% endraw %}
              </span>

              {% raw %}{{ compare_at_price }}{% endraw %}
            </div>
          </div>
        </div>
      </div>
    </a>
  </li>
{% endcapture %}

{% capture result_compare_at_price_template %}
  <span class="font-size--down-2 line-height--up-4 text-color-grey-light">
    <s>
      {% raw %}{{ compare_at_price }}{% endraw %}
    </s>
  </span>
{% endcapture %}

<div class="search-form-element" data-module-search-form-predictive-results='{
  "search_form_input_id": {{ id | json }},
  "empty_template": {{ empty_template | json | escape }},
  "results_template": {{ results_template | json | escape }},
  "result_template": {{ result_template | json | escape }},
  "result_compare_at_price_template": {{ result_compare_at_price_template | json | escape }}
}'>
  <div
    class="
      medium--position-absolute
      medium--position-left medium--position-top--full
      medium--position-1
    "
    style="margin-top: -1px;">
    <div class="search-form-element-width" style="min-width: 250px;">
      <div
        class="
          medium--box-color-light
          medium--border-grey-lighter
          medium--border-radius-default
        "
        style="border-top-left-radius: 0; border-top-right-radius: 0;">
        <div class="medium--padding-top--down-3">
          <div>
            <div data-ref-body></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
