{% liquid
  assign content_border = false

  if template.name == 'cart' or template.name == 'account' or template.name == 'addresses' or template.name == 'order' or template.name == 'page' or template.name == '404' or template.name == 'blog' or template.name == 'article' or template.name == 'search'
    assign content_border = true
  endif
%}

<!DOCTYPE html>
<html class="template-{{ template | handle }}" lang="{{ shop.locale }}">
  <head>
    {% include 'layout-meta' %}
    {% include 'layout-social-meta' %}
    {% include 'layout-title' %}
    {% include 'layout-favicon' %}
    {% include 'layout-schema' %}
    {% include 'layout-styles' %}
    {% include 'layout-scripts-head' %}

    {{ content_for_header }}
    {% include 'judgeme_core' %}
<!-- Zapiet | Store Pickup + Delivery -->

<!-- Zapiet | Store Pickup + Delivery -->

    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

</head>

<body>
  {% section 'utility-bar' %}
  {% section 'header' %}

  <main
      class="
        {% if content_border %}
          border-top-grey-lightest medium--border--none
        {% endif %}
      "
      role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
{% render 'disable-checkout-until-slots-load' %}
  {% include 'layout-scripts' %}

<!--   Back in Stock helper snippet -->
  {% render 'back-in-stock-helper' %}
  <!-- End Back in Stock helper snippet -->

{% if content_for_header contains 'fastbundle.co' %}
    {% render 'fast_bundle_service' %}
{% endif %}
</body>
</html>
