{% liquid
  assign content_border = false

  if template.name == 'cart' or template.name == 'account' or template.name == 'addresses' or template.name == 'order' or template.name == 'page' or template.name == '404' or template.name == 'blog' or template.name == 'article' or template.name == 'search'
    assign content_border = true
  endif
%}

<!DOCTYPE html>
<html class="template-{{ template | handle }}" lang="{{ shop.locale }}">
  <head>  
    
    <!-- CookiePro Cookies Consent Notice start for corriesonthefarm.co.uk -->
    <script type="text/javascript" src="https://cookie-cdn.cookiepro.com/consent/71bf8f5b-0b0f-4e67-ba43-5db39a233634/OtAutoBlock.js" ></script>
    <script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="71bf8f5b-0b0f-4e67-ba43-5db39a233634" ></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- CookiePro Cookies Consent Notice end for corriesonthefarm.co.uk -->
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLFHVPW');</script>
    <!-- End Google Tag Manager -->
    
    {% include 'layout-meta' %}
    {% include 'layout-social-meta' %}
    {% include 'layout-title' %}
    {% include 'layout-favicon' %}
    {% include 'layout-schema' %}
    {% include 'layout-styles' %}
    {% include 'layout-scripts-head' %}

    {{ content_for_header }}
    {% include 'judgeme_core' %}
<!-- Zapiet | Store Pickup + Delivery -->

<!-- Zapiet | Store Pickup + Delivery -->

    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

</head>

<body>
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLFHVPW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {% section 'utility-bar' %}
  {% section 'header' %}

  <main
      class="
        {% if content_border %}
          border-top-grey-lightest medium--border--none
        {% endif %}
      "
      role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
{% render 'disable-checkout-until-slots-load' %}
  {% include 'layout-scripts' %}

<!--   Back in Stock helper snippet -->
  {% render 'back-in-stock-helper' %}
  <!-- End Back in Stock helper snippet -->

{% if content_for_header contains 'fastbundle.co' %}
    {% render 'fast_bundle_service' %}
{% endif %}
  
  <script>
  window.addEventListener("klaviyoForms", function(e) { 
    var tracker = ga.getAll()[0]
    if (e.detail.type == 'open' || e.detail.type == 'embedOpen') {
      tracker.send('event', 'Klaviyo form', 'form_open', e.detail.formId);
    }
    if (e.detail.type == 'submit') {
      tracker.send('event', 'Klaviyo form', 'form_submit', e.detail.formId);
    }
    if (e.detail.type == 'close') {
      tracker.send('event', 'Klaviyo form', 'form_close', e.detail.formId);
    }
  });
  </script>
  
</body>
</html>
