{% schema %}
  {
    "name": "Collection body",
    "settings": [
      {
        "type": "header",
        "content": "Filters"
      },
      {
        "type": "checkbox",
        "id": "filters_enable",
        "label": "Enable?"
      },
      {
        "type": "paragraph",
        "content": "Filters are setup via the [menu](/admin/menus) \"Tag filters: products\"."
      },
      {
        "type": "select",
        "id": "filters_logic",
        "label": "Logic",
        "options": [
          { "value": "and", "label": "AND" },
          { "value": "or", "label": "OR" }
        ]
      },
      {
        "type": "paragraph",
        "content": "AND = Display products with both tag A and tag B."
      },
      {
        "type": "paragraph",
        "content": "OR  = Display products with either tag A or tag B."
      },
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "number",
        "id": "products_limit",
        "label": "Limit",
        "default": 12
      },
      {
        "type": "header",
        "content": "Pagination"
      },
      {
        "type": "select",
        "id": "pagination_type",
        "label": "Type",
        "options": [
          { "value": "default", "label": "Default" },
          { "value": "load-more", "label": "Load more" },
          { "value": "infinite", "label": "Infinite" }
        ]
      },
      {
        "type": "header",
        "content": "Empty"
      },
      {
        "type": "richtext",
        "id": "empty_body",
        "label": "Empty body"
      }
    ]
  }
{% endschema %}

{% assign filters_enable = section.settings.filters_enable | default: false %}

{% assign filters_logic = section.settings.filters_logic | default: false %}

{% assign products_limit = section.settings.products_limit | default: false %}

{% assign pagination_type = section.settings.pagination_type | default: false %}

{% assign empty_body = section.settings.empty_body | default: false %}

{% capture product_card_grid_item_class_name_template %}
  {% include 'product-card-grid-item-class-name-template' %}
{% endcapture %}

{% capture product_card_template %}
  {% include 'product-card-template' %}
{% endcapture %}

{% capture empty_template %}
  {% include 'collection-empty-template' %}
{% endcapture %}

{% capture tag_filters_json %}
  {% include 'tag-filters-products-json' %}
{% endcapture %}

{% paginate collection.products by products_limit %}
<div data-module-collection-body--{{ filters_logic }}='{
    "collection": {
      "handle": {{ collection.handle | json | escape }},
      "products_count": {{ collection.products_count | json | escape }}
    },
    "money_format": {{ shop.money_format | json | escape }},
    "limit": {{ products_limit | json | escape }},
    "product_card_grid_item_class_name_template": {{ product_card_grid_item_class_name_template | json | escape }},
    "product_card_template": {{ product_card_template | json | escape }},
    "empty_template": {{ empty_template | json | escape }},
    "tag_filters": {{ tag_filters_json | escape }},
    "pagination_type": {{ pagination_type | json | escape }}
  }'>
    <div class="padding-top-bottom--up-2 large--padding-top-bottom--up-4">
      <div class="container-default">
        <div class="overflow-hidden">
          <div class="margin-bottom-negative--up-1">
            <div class="grid--up-1">
              {% if filters_enable %}
                <div class="grid-item one large--one-four padding-bottom--up-1">
                  {% case filters_logic %}
                    {% when 'and' %}
                      {% include 'collection-filters--and' %}
                    {% when 'or' %}
                      {% include 'collection-filters--or' %}
                  {% endcase %}
                </div>
              {% endif %}

              <div class="grid-item one {% if filters_enable %}large--three-four{% endif %} padding-bottom--up-1">
                <h2 class="font-weight-700 margin-bottom--up-1">
                  <span data-ref-all-products-count>
                    {{ collection.products_count }}
                  </span>

                  {{ 'collection.products.count_suffix' | t }}
                </h2>

                <div style="{% if collection.products == empty %}display: none;{% endif %}" data-ref-products-wrap>
                  <div class="overflow-hidden">
                    <div class="grid--up-1 margin-bottom-negative--up-1" data-ref-products>
                      {% for product in collection.products %}
                        <div class="{{ product_card_grid_item_class_name_template }}">
                          {% include 'product-card' _image_lazy: true %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                {% include 'collection-empty' %}

                {% case pagination_type %}
                  {% when 'default' %}
                    {% include 'collection-pagination' %}
                  {% when 'load-more' %}
                    {% include 'collection-load-more' %}
                {% endcase %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endpaginate %}
