{% assign filters_enable = section.settings.filters_enable | default: false %}

{% assign filters_logic = section.settings.filters_logic | default: false %}

{% assign products_limit = section.settings.products_limit | default: false %}

{% assign pagination_type = section.settings.pagination_type | default: false %}

{% assign empty_body = section.settings.empty_body | default: false %}

{% capture product_card_grid_class_name_template %}
  {% include 'product-card-grid-class-name-template' %}
{% endcapture %}

{% capture product_card_grid_item_class_name_template %}
  {% include 'product-card-grid-item-class-name-template' %}
{% endcapture %}

{% capture product_card_template %}
  {% include 'product-card-template' %}
{% endcapture %}

{% capture empty_template %}
  {% include 'collection-empty-template' %}
{% endcapture %}

{% capture tag_filters_json %}
  {% include 'tag-filters-products-json' %}
{% endcapture %}

{% assign menu_enable = false %}

{% for link in linklists['collections'].links %}
  {% if link.active %}
    {% assign menu_enable = true %}
    {% assign filters_enable = false %}
    {% break %}
  {% endif %}
{% endfor %}

{% if filters_enable %}
  {% assign filters_enable = false %}

  {% assign break = false %}

  {% for tag in collection.all_tags %}
    {% assign tag_handle = tag | handle %}

    {% for link in linklists['tag-filters-products'].links %}
      {% for link_link in link.links %}
        {% if
          link.title == tag or
          link.handle == tag_handle or
          link_link.title == tag or
          link_link.handle == tag_handle
        %}
          {% assign filters_enable = true %}
          {% assign break = true %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if break %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if break %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign image_lazy = false %}

{% if filters_enable %}
  {% assign image_lazy = true %}
{% endif %}

{% capture attibutes %}
  {% if filters_enable %}
    data-module-collection-body--{{ filters_logic }}='{
      "collection": {
        "handle": {{ collection.handle | json | escape }},
        "products_count": {{ collection.products_count | json | escape }}
      },
      "money_format": {{ shop.money_format | json | escape }},
      "limit": {{ products_limit | json | escape }},
      "product_card_grid_item_class_name_template": {{ product_card_grid_item_class_name_template | json | escape }},
      "product_card_template": {{ product_card_template | json | escape }},
      "empty_template": {{ empty_template | json | escape }},
      "tag_filters": {{ tag_filters_json | escape }},
      "pagination_type": {{ pagination_type | json | escape }}
    }'
  {% endif %}
{% endcapture %}

{% paginate collection.products by products_limit %}
  <div {{ attibutes }}>
    <div class="page-spacing">
      <div class="container-default">
        {% include 'breadcrumbs' %}

        <div class="grid--up-3 position-relative">
          <div class="grid-item one large--one-five hide! large--show-inline-block!"></div>

          <div class="grid-item one large--four-five">
            {% include 'collection-header' %}
            {% include 'collection-toolbar' %}

            <div class="margin-top--up-1">
              <div style="{% if collection.products == empty %}display: none;{% endif %}" data-ref-products-wrap>
                <div class="overflow-hidden">
                  <div class="{{ product_card_grid_class_name_template }}" data-ref-products>
                    {% for product in collection.products %}
                      <div class="{{ product_card_grid_item_class_name_template }}">
                        {% include 'product-card', _image_lazy: image_lazy %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              {% include 'collection-empty' %}
              {% include 'collection-pagination' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endpaginate %}

{% schema %}
  {
    "name": "Collection body",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "paragraph",
        "content": "This is managed on a per-collection basis via Collection -> Image. Suggested size: 2000x640px."
      },
      {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "paragraph",
        "content": "This menu depends on the collection structure via the [menu](/admin/menus) \"Collections\"."
      },
      {
        "type": "header",
        "content": "Filters"
      },
      {
        "type": "checkbox",
        "id": "filters_enable",
        "label": "Enable?"
      },
      {
        "type": "paragraph",
        "content": "Filters are setup via the [menu](/admin/menus) \"Tag filters: products\"."
      },
      {
        "type": "select",
        "id": "filters_logic",
        "label": "Logic",
        "options": [
          { "value": "and", "label": "AND" },
          { "value": "or", "label": "OR" }
        ]
      },
      {
        "type": "paragraph",
        "content": "AND = Display products with both tag A and tag B."
      },
      {
        "type": "paragraph",
        "content": "OR  = Display products with either tag A or tag B."
      },
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "number",
        "id": "products_limit",
        "label": "Limit",
        "default": 16
      },
      {
        "type": "header",
        "content": "Pagination"
      },
      {
        "type": "select",
        "id": "pagination_type",
        "label": "Type",
        "options": [
          { "value": "default", "label": "Default" }
        ]
      },
      {
        "type": "header",
        "content": "Empty"
      },
      {
        "type": "richtext",
        "id": "empty_body",
        "label": "Empty body"
      }
    ]
  }
{% endschema %}
