{% assign spacing_top_enable = section.settings.spacing_top_enable | default: false %}

{% assign spacing_bottom_enable = section.settings.spacing_bottom_enable | default: false %}

{% assign image = section.settings.image | default: false %}

{% assign image_tablet = section.settings.image_tablet | default: image %}

{% assign image_mobile = section.settings.image_mobile | default: image_tablet %}

{% assign image_overlay = section.settings.image_overlay | divided_by: 100.0 | default: false %}

{% assign text_color = section.settings.text_color | default: false %}

{% assign title = section.settings.title | newline_to_br | default: false %}

{% assign url_1 = section.settings.url_1 | default: false %}

{% assign call_to_action_1 = section.settings.call_to_action_1 | default: false %}

{% assign url_2 = section.settings.url_2 | default: false %}

{% assign call_to_action_2 = section.settings.call_to_action_2 | default: false %}

<section
  class="
    {% if spacing_top_enable %}large--padding-top--up-1{% endif %}
    {% if spacing_bottom_enable %}padding-bottom--up-1{% endif %}
  ">
  <div class="position-relative">
    {%
      include 'image',
      _object: image_mobile,
      _size: '1000x',
      _object_medium: image_tablet,
      _size_medium: '1000x',
      _object_large: image,
      _size_large: '2000x'
    %}

    {% if image_overlay %}
      <div
        class="position-absolute position-full"
        style="background: #000; opacity: {{ image_overlay }};"></div>
    {% endif %}

    {% if title %}
      <div class="position-absolute position-center one">
        <div class="text-color-light text-center">
          <h2
            class="
              font-size--up-13 line-height--up-13
              medium--font-size--up-16 medium--line-height--up-16
              large--font-size--up-23 large--line-height--up-22
              font-weight-700 text-color-inherit
              margin--none
            ">
            {{ title }}
          </h2>

          {% if url_1 or call_to_action_1 or url_2 or call_to_action_2 %}
            <div class="margin-top--up-2">
              <div class="grid--down-1">
                {% if url_1 and call_to_action_1 %}
                  <div class="grid-item">
                    <a
                      class="
                        button-primary box-color-inherit border-current-color-double
                        padding-left-right--0 medium--padding-left-right--up-2
                        medium--padding-top-bottom--down-1
                        line-height--up-8
                        medium--font-size--inherit medium--line-height--up-8
                      "
                      href="{{ url_1 }}">
                      {{ call_to_action_1 }}
                    </a>
                  </div>
                {% endif %}

                {% if url_2 and call_to_action_2 %}
                  <div class="grid-item">
                    <a
                      class="
                        button-primary box-color-inherit border-current-color-double
                        padding-left-right--0 medium--padding-left-right--up-2
                        medium--padding-top-bottom--down-1
                        line-height--up-8
                        medium--font-size--inherit medium--line-height--up-8
                      "
                      href="{{ url_2 }}">
                      {{ call_to_action_2 }}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "presets": [
      {
        "category": "Homepage",
        "name": "Hero"
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "spacing_top_enable",
        "label": "Spacing top enable?"
      },
      {
        "type": "checkbox",
        "id": "spacing_bottom_enable",
        "label": "Spacing bottom enable?"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Suggested size: 2000x920px."
      },
      {
        "type": "image_picker",
        "id": "image_tablet",
        "label": "Image (tablet)",
        "info": "Suggested size: 1000x460px."
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (mobile)",
        "info": "Suggested size: 1000x950px."
      },
      {
        "type": "range",
        "id": "image_overlay",
        "label": "Image overlay",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "default": 0
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text color",
        "options": [
          { "label": "Light", "value": "light" },
          { "label": "Dark", "value": "dark" }
        ]
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "url_1",
        "label": "URL #1"
      },
      {
        "type": "text",
        "id": "call_to_action_1",
        "label": "Call to action #1"
      },
      {
        "type": "url",
        "id": "url_2",
        "label": "URL #2"
      },
      {
        "type": "text",
        "id": "call_to_action_2",
        "label": "Call to action #2"
      }
    ]
  }
{% endschema %}
