{% schema %}
  {
    "name": "Password body",
    "settings": [
      {
        "type": "header",
        "content": "Feature"
      },
      {
        "type": "color",
        "id": "feature_background_color",
        "label": "Background color"
      },
      {
        "type": "checkbox",
        "id": "feature_angle",
        "label": "Angle?"
      },
      {
        "type": "image_picker",
        "id": "feature_image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "feature_logo_image",
        "label": "Logo image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "color",
        "id": "content_text_color_mobile",
        "label": "Text color (mobile)"
      },
      {
        "type": "image_picker",
        "id": "content_logo_image",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "content_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "content_countdown_date",
        "label": "Countdown date",
        "info": "Use format: YYYY-MM-DD, e.g. \"2020-05-27\"."
      },
      {
        "type": "richtext",
        "id": "content_body",
        "label": "Body"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Enable?"
      },
      {
        "type": "text",
        "id": "newsletter_call_to_action",
        "label": "Call to action"
      },
      {
        "type": "richtext",
        "id": "newsletter_success",
        "label": "Success"
      },
      {
        "type": "header",
        "content": "Social links"
      },
      {
        "type": "checkbox",
        "id": "social_links_enable",
        "label": "Enable?"
      },
      {
        "type": "header",
        "content": "Password"
      },
      {
        "type": "text",
        "id": "password_title",
        "label": "Title",
        "default": "Store owner?"
      },
      {
        "type": "text",
        "id": "password_call_to_action",
        "label": "Call to action",
        "default": "Login here."
      },
      {
        "type": "text",
        "id": "password_form_call_to_action",
        "label": "Form call to action",
        "default": "LOGIN"
      }
    ]
  }
{% endschema %}

{% assign feature_background_color = section.settings.feature_background_color | default: false %}

{% assign feature_angle = section.settings.feature_angle | default: false %}

{% assign feature_image = section.settings.feature_image | default: false %}
{% assign feature_image_url = feature_image | img_url: '1000x' %}

{% assign feature_logo_image = section.settings.feature_logo_image | default: false %}
{% assign feature_logo_image_url = feature_logo_image | img_url: '600x' %}

{% assign content_text_color_mobile = section.settings.content_text_color_mobile | default: false %}

{% assign content_logo_image = section.settings.content_logo_image | default: false %}
{% assign content_logo_image_url = content_logo_image | img_url: '600x' %}

{% assign content_title = section.settings.content_title | default: false %}

{% assign content_countdown_date = section.settings.content_countdown_date | default: false %}

{% assign content_body = section.settings.content_body | default: false %}

{% assign newsletter_enable = section.settings.newsletter_enable | default: false %}

{% assign newsletter_call_to_action = section.settings.newsletter_call_to_action | default: false %}

{% assign newsletter_success = section.settings.newsletter_success | default: false %}

{% assign social_links_enable = section.settings.social_links_enable | default: false %}

{% assign password_title = section.settings.password_title | default: false %}

{% assign password_call_to_action = section.settings.password_call_to_action | default: false %}

{% assign password_form_call_to_action = section.settings.password_form_call_to_action | default: false %}

{% layout 'bare' %}

<div class="height-full large--flex">
  <div class="large--flex-item">
    <div class="height-full position-relative medium-down--position-fixed medium-down--position-full {% if feature_angle %}password-angle{% endif %}" style="{% if feature_background_color %}background-color: {{ feature_background_color }};{% endif %}">
      {% if feature_image %}
        <div class="position-absolute position-full background-full" data-src="{{ feature_image_url }}"></div>
      {% endif %}
    </div>
  </div>

  <div class="large--flex-item large--flex-bar">
    <div class="large--flex-item">
      <div data-module-tabs>
        <div class="medium-down--position-relative">
          <div class="container-padding padding-top-bottom--up-3 large--padding-left-right--up-6">
            <div class="text-center" style="{% if content_text_color_mobile %} --medium-down--color: {{ content_text_color_mobile }};{% endif %}">
              <div class="last-child-margin--none">
                {% if feature_logo_image %}
                  <div class="large--position-absolute large--position-top large--position-left large--position-bottom large--one-two">
                    <div class="height-full large--flex-bar">
                      <div class="large--flex-item">
                        <div class="padding-bottom--up-3 large--padding--none">
                          <div class="box-center" style="max-width: 205px; --medium-down--max-width: 105px;">
                            <div class="image-container">
                              <img data-src="{{ feature_logo_image_url }}" alt="{{ feature_logo_image.alt | escape }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}

                {% if content_logo_image %}
                  <div class="hide large--show">
                    <div class="margin-bottom--up-2">
                      <div class="box-center" style="max-width: 145px;">
                        <div class="image-container">
                          <img data-src="{{ content_logo_image_url }}" alt="{{ content_logo_image.alt | escape }}" />
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}

                {% if content_title %}
                  <h1 class="margin-bottom--up-1 medium-down--text-color-inherit">
                    {{ content_title }}
                  </h1>
                {% endif %}

                {% if content_countdown_date %}
                  <h2 class="margin-bottom--up-1 medium-down--text-color-inherit">
                    <div data-module-countdown='{ "date": {{ content_countdown_date | json | escape }} }'>
                      {{
                        'password.countdown_html' |
                        t:
                        days: '<span data-ref-days></span>',
                        hours: '<span data-ref-hours></span>',
                        minutes: '<span data-ref-minutes></span>',
                        seconds: '<span data-ref-seconds></span>'
                      }}
                    </div>
                  </h2>
                {% endif %}

                {% if content_body %}
                  <div class="margin-bottom--up-1">
                    <div class="rte">
                      {{ content_body }}
                    </div>
                  </div>
                {% endif %}

                <div class="margin-bottom--up-1">
                  {% if newsletter_enable %}
                    <div data-ref-panel='{ "id": "newsletter" }'>
                      {% include 'password-newsletter' %}
                    </div>

                    <div data-ref-panel='{ "id": "password" }' style="display: none;">
                      {% include 'password-form' %}
                    </div>
                  {% else %}
                    {% include 'password-form' %}
                  {% endif %}
                </div>

                {% if social_links_enable %}
                  <div class="medium-down--child-a-text-color-inherit">
                    {% include 'social-links' %}
                  </div>
                {% endif %}

                {% if newsletter_enable %}
                  {% if password_title and password_call_to_action %}
                    <div class="large--position-absolute large--position-right large--position-bottom--up-1 large--one-two">
                      <div class="large--container-padding padding-top--up-3">
                        {{ password_title }}

                        <button class="input-reset" type="button" data-ref-button='{ "id": "password" }'>
                          {{ password_call_to_action }}
                        </button>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
