{% schema %}
  {
    "name": "Product tabs",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "header",
        "content": "Tab #1"
      },
      {
        "type": "text",
        "id": "tab_1_title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Tab #2"
      },
      {
        "type": "text",
        "id": "tab_2_title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Tab #3"
      },
      {
        "type": "text",
        "id": "tab_3_title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Tab #4"
      },
      {
        "type": "text",
        "id": "tab_4_title",
        "label": "Title"
      }
    ]
  }
{% endschema %}

{% assign enable = section.settings.enable | default: false %}

{% assign tab_1_title = section.settings.tab_1_title | default: '' | sort %}

{% assign tab_2_title = section.settings.tab_2_title | default: '' | sort %}

{% assign tab_3_title = section.settings.tab_3_title | default: '' | sort %}

{% assign tab_4_title = section.settings.tab_4_title | default: '' | sort %}

{% assign tab_1_body = product.metafields.tab_1.copy | default: '' | sort %}

{% assign tab_2_body = product.metafields.tab_2.copy | default: '' | sort %}

{% assign tab_3_body = product.metafields.tab_3.copy | default: '' | sort %}

{% assign tab_4_body = product.metafields.tab_4.copy | default: '' | sort %}

{% assign array_title = '' | split: '' | concat: tab_1_title | concat: tab_2_title | concat: tab_3_title | concat: tab_4_title %}

{% assign array_body = '' | split: '' | concat: tab_1_body | concat: tab_2_body | concat: tab_3_body | concat: tab_4_body %}

{% assign array_title_handle = array_title | handle %}

{% assign array_body_handle = array_body | handle %}

{% if array_title_handle == blank or array_body_handle == blank %}
  {% assign enable = false %}
{% endif %}

{% if enable %}
  <div class="padding-top--up-2 large--padding-top--up-5">
    <div data-module-accordion>
      <div class="container-default">
        <nav class="hide large--show">
          <ul class="grid text-center margin--none">
            {% for title_ in array_title %}
              {% assign title = title_ | default: false %}

              {% assign body = array_body[forloop.index0] | default: false %}

              {% unless title and body %}
                {% continue %}
              {% endunless %}

              <li class="grid-item">
                <div style="margin-left: -1px; margin-right: -1px;">
                  <button
                    class="
                      button-primary
                      padding-top-bottom--0
                      padding-left-right--0 xlarge--padding-left-right--up-1
                      box-color-light hover-box-color-beige
                      border-grey-lighter hover-border-beige
                      text-color-grey-dark hover-text-color-grey-dark
                      font-size--inherit line-height--up-8
                      font-weight-500
                    "
                    type="button"
                    data-ref-button='{
                      "index": {{ forloop.index0 | json }},
                      "active": {% if forloop.first %}["large"]{% else %}false{% endif %},
                      "active_class": ["box-color-beige", "border-beige", "no-pointer"],
                      "inactive_class": ["box-color-light", "border-grey-lighter"]
                    }'>
                    {{ title }}
                  </button>
                </div>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="container-margin-negative-x large--margin--none">
        <div class="large--box-color-beige">
          <div class="large--padding-top-bottom--up-5">
            <div class="container-default">
              <div class="box-center" style="max-width: 750px;">
                {% for title_ in array_title %}
                  {% assign title = title_ | default: false %}

                  {% assign body = array_body[forloop.index0] | default: false %}

                  {% unless title and body %}
                    {% continue %}
                  {% endunless %}

                  <div>
                    <div class="large--hide">
                      <button
                        class="
                          input-reset block one
                          container-padding padding-top-bottom--down-1
                          box-color-beige
                          border-bottom-light
                        "
                        type="button"
                        data-ref-button='{ "index": {{ forloop.index0 | json }} }'>
                        <div class="flex-bar--down-1">
                          <div class="flex-item">
                            <div class="
                              font-size--down-2 line-height--up-7
                              font-weight-500 text-caps-letter-spacing
                              text-color-grey-dark
                            ">
                              {{ title }}
                            </div>
                          </div>

                          <div class="flex-item-auto">
                            <div class="font-size--down-6 text-color-grey-dark">
                              <div data-ref-icon-show='{ "index": {{ forloop.index0 | json }} }'>
                                {% include 'svg-arrow-bottom' %}
                              </div>

                              <div style="display: none;" data-ref-icon-hide='{ "index": {{ forloop.index0 | json }} }'>
                                {% include 'svg-arrow-top' %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </button>
                    </div>

                    <div data-ref-panel='{ "index": {{ forloop.index0 | json }} }'>
                      <div class="container-padding padding-top-bottom--0 medium--padding--none">
                        <h2 class="
                          font-size--up-4
                          medium--font-size--up-5
                          large--font-size--up-8 large--line-height--up-10
                          font-weight-700 text-caps text-color-navy
                          margin-bottom--0 large--margin-bottom--up-2
                          hide large--show
                        ">
                          {{ title }}
                        </h2>

                        <div class="rte rte--product-tabs large--font-size--up-2 large--line-height--up-8">
                          {{ body }}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
